@{
    ViewData["Title"] = "Create";
}
@model CreateCollectionVM
    <main>
      <!-- Create -->
      <section class="relative py-24">
        <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
          <img src="~/assets/img/gradient_light.jpg" alt="gradient" class="h-full w-full" />
        </picture>
        <div class="container">
          <h1 class="py-16 text-center font-display text-4xl font-medium text-jacarta-700 dark:text-white">Create</h1>
          <form method="post" enctype="multipart/form-data">
          <div class="mx-auto max-w-[48.125rem]">
            <!-- File Upload -->
            <div class="mb-6">
              <label asp-for="LogoImg" class="mb-2 block font-display text-jacarta-700 dark:text-white"
                >Logo Image<span class="text-red">*</span></label>
              
              <p class="mb-3 text-2xs dark:text-jacarta-300">Drag or choose your file to upload</p>

              <div
                class="group relative flex max-w-xs flex-col items-center justify-center rounded-lg border-2 border-dashed border-jacarta-100 bg-white py-20 px-5 text-center dark:border-jacarta-600 dark:bg-jacarta-700"
              >
                <div class="relative z-10 cursor-pointer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="mb-4 inline-block fill-jacarta-500 dark:fill-white"
                  >
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                    />
                  </svg>
                  <p class="mx-auto max-w-xs text-xs dark:text-jacarta-300">
                    JPG, PNG, GIF, SVG, WEBM, Max size: 10 MB
                  </p>
                </div>
                <div
                  class="absolute inset-4 cursor-pointer rounded bg-jacarta-50 opacity-0 group-hover:opacity-100 dark:bg-jacarta-600"
                ></div>
                <input
                    asp-for="LogoImg"
                  accept="image/*,video/*,audio/*,webgl/*,.glb,.gltf"
                  class="absolute inset-0 z-20 cursor-pointer opacity-0"
                />
              </div>
                <span asp-validation-for="LogoImg" class="text-red"></span>
            </div>
            <div class="mb-6">
              <label asp-for="MainImg" class="mb-2 block font-display text-jacarta-700 dark:text-white"
                >Main Image<span class="text-red">*</span></label>
              
              <p class="mb-3 text-2xs dark:text-jacarta-300">Drag or choose your file to upload</p>

              <div
                class="group relative flex max-w-sm flex-col items-center justify-center rounded-lg border-2 border-dashed border-jacarta-100 bg-white py-20 px-5 text-center dark:border-jacarta-600 dark:bg-jacarta-700"
              >
                <div class="relative z-10 cursor-pointer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="mb-4 inline-block fill-jacarta-500 dark:fill-white"
                  >
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                    />
                  </svg>
                  <p class="mx-auto max-w-xs text-xs dark:text-jacarta-300">
                    JPG, PNG, GIF, SVG, WEBM, Max size: 10 MB
                  </p>
                </div>
                <div
                  class="absolute inset-4 cursor-pointer rounded bg-jacarta-50 opacity-0 group-hover:opacity-100 dark:bg-jacarta-600"
                ></div>
                <input
                    asp-for="MainImg"
                  accept="image/*,video/*,audio/*,webgl/*,.glb,.gltf"
                  class="absolute inset-0 z-20 cursor-pointer opacity-0"
                />
              </div>
                <span asp-validation-for="MainImg" class="text-red"></span>
            </div>
            <div class="mb-6">
              <label asp-for="CoverImg" class="mb-2 block font-display text-jacarta-700 dark:text-white"
                >Cover Image<span class="text-red">*</span></label>
              
              <p class="mb-3 text-2xs dark:text-jacarta-300">Drag or choose your file to upload</p>

              <div
                class="group relative flex max-w-md flex-col items-center justify-center rounded-lg border-2 border-dashed border-jacarta-100 bg-white py-20 px-5 text-center dark:border-jacarta-600 dark:bg-jacarta-700"
              >
                <div class="relative z-10 cursor-pointer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="mb-4 inline-block fill-jacarta-500 dark:fill-white"
                  >
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                    />
                  </svg>
                  <p class="mx-auto max-w-xs text-xs dark:text-jacarta-300">
                    JPG, PNG, GIF, SVG, WEBM, Max size: 100 MB
                  </p>
                </div>
                <div
                  class="absolute inset-4 cursor-pointer rounded bg-jacarta-50 opacity-0 group-hover:opacity-100 dark:bg-jacarta-600"
                ></div>
                <input
                    asp-for="CoverImg"
                  accept="image/*,video/*,audio/*,webgl/*,.glb,.gltf"
                  class="absolute inset-0 z-20 cursor-pointer opacity-0"
                />
              </div>
                <span asp-validation-for="CoverImg" class="text-red"></span>
            </div>

            <!-- Name -->
            <div class="mb-6">
              <label asp-for="Name" class="mb-2 block font-display text-jacarta-700 dark:text-white"
                >Name<span class="text-red">*</span></label>
              <input asp-for="Name"
                class="w-full rounded-lg border-jacarta-100 py-3 hover:ring-2 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white dark:placeholder:text-jacarta-300"
                placeholder="Item name"
              />
                <span asp-validation-for="Name" class="text-red"></span>

            </div>
            <!-- Description -->
            <div class="mb-6">
              <label asp-for="Description" class="mb-2 block font-display text-jacarta-700 dark:text-white"
                >Description</label>
              <p class="mb-3 text-2xs dark:text-jacarta-300">
                The description will be included on the item's detail page underneath its image. Markdown syntax is
                supported.
              </p>
              <textarea
                  asp-for="Description"
                class="w-full rounded-lg border-jacarta-100 py-3 hover:ring-2 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white dark:placeholder:text-jacarta-300"
                rows="4"
                placeholder="Provide a detailed description of your item."
              ></textarea>
              <span asp-validation-for="Description" class="text-red"></span>
            </div>
            <!-- Collection -->
            <div class="relative">
              <div>
                <label asp-for="CategoryId" class="mb-2 block font-display text-jacarta-700 dark:text-white">Category</label>
                <div class="mb-3 flex items-center space-x-2">
                  <p class="text-2xs dark:text-jacarta-300">
                    This is the collection where your item will appear.
                    <span
                      class="inline-block"
                      data-tippy-content="Moving items to a different collection may take up to 30 minutes."
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                        class="ml-1 -mb-[3px] h-4 w-4 fill-jacarta-500 dark:fill-jacarta-300"
                      >
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path
                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"
                        ></path>
                      </svg>
                    </span>
                  </p>
                </div>
              </div>
              <div class=" my-1 cursor-pointer">
                  <select asp-for="CategoryId" class=" z-10  w-full whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl dark:bg-jacarta-800">
                      <option selected  disabled>Select category</option>
                      @foreach(var item in (SelectList)ViewBag.Categories)
                      {
                          <option class="text-jacarta-700 dark:text-white" value="@item.Value">@item.Text</option>
                      }
                  </select>
              </div>
              <span asp-validation-for="CategoryId" class="text-red"></span>
            </div>
            <!-- Properties -->
            <!-- Submit -->
            <div class=" flex space-x-4 ">
                <button
                    type="submit"
                  class=" w-36 rounded-full bg-accent py-1 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
                >
                  Create
                </button>
                <a
                    asp-action="Index" asp-controller="Profile" asp-route-username="@User.Identity.Name"
                  class="w-36 rounded-full bg-white py-4 px-8 text-center font-semibold text-accent shadow-white-volume transition-all hover:bg-accent-dark hover:text-white hover:shadow-accent-volume"
                >
                  Cancel
                </a>
              </div>
          </div>
          </form>
        </div>
      </section>
      <!-- end create -->
    </main>
