
@{
    ViewData["Title"] = "Explore";
}
<script src="~/assets/js/filtering.js"></script>
@model IEnumerable<NFTCollection>
    <main>
      <!-- Collections -->
      <section class="relative py-24">
        <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
          <img src="~/assets/img/gradient_light.jpg" alt="gradient" class="h-full w-full" />
        </picture>
        <div class="container">
          <h1 class="py-16 text-center font-display text-4xl font-medium text-jacarta-700 dark:text-white">
            Explore Collections
          </h1>

          <!-- Filters -->
          <div class="mb-8 flex flex-wrap items-center justify-between">
            <ul class="flex flex-wrap items-center">
                <li class=" my-1 mr-2.5">
                <a
                  href="#"
                  class="active category-link group flex h-9 items-center rounded-lg border border-jacarta-100 bg-white px-4 font-display text-sm font-semibold text-jacarta-500 transition-colors hover:border-transparent hover:bg-accent hover:text-white dark:border-jacarta-600 dark:bg-jacarta-900 dark:text-white dark:hover:border-transparent dark:hover:bg-accent dark:hover:text-white"
                >

                  <span>All</span>
                </a>
              </li>
                @foreach (var item in (List<Category>)ViewBag.Categories)
                {
              <li class=" my-1 mr-2.5">
                <a
                  href="#"
                  class=" category-link group flex h-9 items-center rounded-lg border border-jacarta-100 bg-white px-4 font-display text-sm font-semibold text-jacarta-500 transition-colors hover:border-transparent hover:bg-accent hover:text-white dark:border-jacarta-600 dark:bg-jacarta-900 dark:text-white dark:hover:border-transparent dark:hover:bg-accent dark:hover:text-white"
                >

                  <span>@item.Name</span>
                </a>
              </li>
                    
                }
            </ul>
          </div>

          <!-- Grid -->
              <div id="collections-container" class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-4">
                  <partial name="_CollectionsPartial" model="@Model"></partial>
              </div>

        </div>
      </section>
      <!-- end collections -->
    </main>

